.preferences-group {
    padding: 3px;
    background-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: max-content;
    float:left;
}

.preferences-box {
    padding: 3px;
    margin: 2px;
    background-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

p {
    margin: 2pt 0;
}

.preferences-head {
    margin: 2pt 0;
    padding: 2pt;
    background-color: darkgray;
    color: white;
}

.prop-name-cell {
    width: 280pt;
}

.standard-chart {
    width: 600px;
    height: 400px;
}

.chart-box {
    border: dotted;
    width: max-content;
    background-color: #f5f5f5;
    padding: 2px;
    margin: 2pt;
    border-width: thin;
    float:left;
}

#simulations, #selected-trajectory {
    float: left
}

#details-table {
    float: right
}